html{
    font-family: 'Lato',  sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    width: 90%;
    max-width: 1100px;
}

/*BOX MODEL

Modelo de caixa
Toda caixa tem:
largura, altura, espaçamentos, preenchimentos
bordas, cor, fundo, maneira que é vista pelo html ( display)
alinhamento, posicionamento
*/